	<div class="demo-card-wide mdl-card mdl-shadow--2dp sessCard">
	  
	  <div class="mdl-card__title">
	    <h2 class="mdl-card__title-text">Registrant Data</h2>
	  </div>

	  <div class="row">
	  	<settings></settings>
	  </div>

	  <div class="mdl-card__actions mdl-card--border">
	  	<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect pull-right" ng-click="getRegistrants()">
	      Get Registrants
	    </a>
	    <growl-notifications class="pull-left"></growl-notifications>
	    <growl-notification ttl="9000" ng-if="settings.success" class="success" on-close="settings.success = false">Total Registrants: {{ registrants.totalRegistrants }}</growl-notification>
	    <growl-notification ttl="3000" ng-if="settings.error" class="error" on-close="settings.error = false">Error!</growl-notification>
	  </div>

	</div>