	<div class="demo-card-wide mdl-card mdl-shadow--2dp sessCard regCard">
	  
	  <div class="mdl-card__title">
	    <h2 class="mdl-card__title-text">Registrant Information</h2>
	    <span class="non-btn m-l-auto totals">Total Registrants: {{ registrants.totalRegistrants }}</span>
	  </div>

	  <div class="row">
	  	<person></person>
	  </div>

	  <div class="mdl-card__actions mdl-card--border">
	  	<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect pull-right" ng-click="nextRegistrant()">
	      Next Registrant
	    </a>
	    
	  </div>

	</div>